<h1>Welcome to Selfie!</h1>

<form method="post" enctype='multipart/form-data' action="upload">
  
  <input type='file' name='photo[photo]'>
  <br/>
  <input type='submit' value='Upload!'>
  <% if @falla%>
  <p> No seleccionaste ninguna imagen </p>
  <%end%>

</form>

<ul>
  <% @photos.each do |photo| %>
    <div> 
      <img src="<%= photo.photo_url(:thumb) %>">
    </div>
  <% end %>
</ul>

  
